<div class="nav-wrap">
  <nav class="nav-container">   
    <%= link_to request.referrer , id: "login-page" do%>
      <%= image_tag "icon.png", class: "icon" %>
    <% end %>
    <%@carts_count = Cart.all.count %>
    <ul class="top-navigation" id="login-nav">
      <li class="top-li"><a class="top-link" href="#contact">Contact</a></li> 
      <% if account_signed_in? %>
        <li class="top-li"> <%=link_to "Edit Profile", edit_account_registration_path, class: "top-link" %> </li>    
        <li class="top-li"> <%=link_to "Sign out", destroy_account_session_path, method: :delete, class: "top-link" %> </li>  
      <% else %>
        <li class="top-li"> <%=link_to "Sign up", new_account_registration_path, class: "top-link" %> </li>
        <li class="top-li"> <%=link_to "Sign in", new_account_session_path, class: "top-link" %> </li>
      <% end %>    
   </ul>
  </nav>
</div>
<main>
  <header class="devise-header">
    <h1 class="sign-in-h1">Welcome to Amazone</h1>
    <div class="login-wrap">
      <p class="sign-in-p">Create an Account</p>   
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, "Email Address:" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email..."  %>
        </div>

        <div class="field">
          <%= f.label :password, "Password:" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "edit-pwd", placeholder: "password..."  %><br>
          <% if @minimum_password_length %>
          <em class="chr-limit">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm Password:" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password..." %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "purchase" %>
        </div>
      <% end %>
      <div class="del-account-wrap">

        <%= render "devise/shared/links" %>
      </div>  
    </div>
  </header>

  <section id="contact" class="sign-ip-contact item-contact" id="login-spacer" >
    <h2>Contact</h2>
    <p class="contactsummary">Want to buy something online for the first time in history? Just reach out!</p>
    
    <address>
        <p class="phone">Phone:    <b>+1 (555) 111-5151</b></p>
        <p class="email">Email:   <b>AmazoneIsLegit@mysite.com</b></p>
    </address>
  </section>

</main>

<%= render "carts/footer" %>